.navbar {
    background-color: #FDE49E;
    color: #151515;
  }

  .navbar-logo {
    display: inline-block;
    margin-right: 20px; /* Aggiungi uno spazio tra il logo e il resto della navbar */
  }
  
  .navbar-logo-img {
    height: 150px; /* Imposta l'altezza dell'immagine */
    width: auto; /* Imposta la larghezza dell'immagine in base all'altezza */
  }
  
  
  .navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar-item {
    display: inline-block;
    margin-right: 10px;
    padding: 0px 25px;
  }
  
  .navbar-link {
    color: #151515 !important;
    text-decoration: none;
    padding: 5px 25px !important;
    font-size: large;
  }
  
  .navbar-link:hover {
    color: #696969 !important;
    text-decoration: none;
  }
  